<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8"/>
  <title>Bootstrap Snippet: Login Form</title>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body>
    <div class="wrapper">
    <form class="form-signin" method="post" action="/login">
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="name" placeholder="username" required="" autofocus="" value="max"/>
      <input type="password" class="form-control" name="password" placeholder="password" required="" value="666666"/>
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"/> 记住我
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
    </form>
  </div>
</body>
</html>
