<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chaoxing.test.mapper.CityMapper" >

    <insert id="insertCityList" parameterType="java.util.List">
      insert into
      plt_city_bak(code,`name`,status)
      values
      <foreach collection="list" item="item" index="index" separator=",">
        (#{item.code,jdbcType=VARCHAR},#{item.name,jdbcType=VARCHAR},1)
      </foreach>
    </insert>

</mapper>