<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chaoxing.test.mapper.FileUploadMapper" >

    <insert id="addVideo">
        insert into
        edu_video_url(folder_name,file_name,object_id,url)
        values (#{folderName,jdbcType=VARCHAR},#{fileName,jdbcType=VARCHAR},#{objectid,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR})
    </insert>

</mapper>